<!DOCTYPE html>
<html>
  <head>
<title>{{title}}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
  body {background-color: powderblue;}
  h1   {color: black;}
  h2  {color: black;}
  h3  {color: black;}
  .box {
  	background:#f7f7f7;
  	border:1px solid #f0e9eb;
  	padding:15px;
  }

  </style>

  </head>
  <body>
    {{{body}}}

  </body>
</html>
