<!DOCTYPE html>
<div id="header">
  <h1>Welcome To Fresh Onions</h1>
  <h4>A place where gamers and critics can rate and review video games</h4>
  <div id="logo">
    <a href="/"><img src="images/1.jpg" alt="FreshOnions" height="250" width="300"/></a><br />
  </div>
  <div class="container" float:right>
  <a href="/users/login">Log in</a><br>
<a href="/users/signup">Sign up</a><br>
<p>
  Please Log In Or Sign Up
</p>
</div>  </div>

<div class="col-xs">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
}</style></div>
<br />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
</style>
<div class="carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/Bleach_Iphone_wallpapers14.jpg" alt="Bleach_Iphone_wallpapers14">

    </div>

    <div class="item">
      <img src="https://localhost:3000/routes/images/Bleach_HD3.jpg" alt="Bleach_HD3">
      <div class="carousel-caption">
        <h3>Bleach</h3>
        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
      </div>
    </div>

    <div class="item">
      <img src="images/Bleach_Photos11.jpg" alt="Bleach_Photos11">
      <div class="carousel-caption">
        <h3>Bleach</h3>
        <p>Beautiful flowers in Kolymbari, Crete.</p>
      </div>
    </div>

    <div class="item">
      <img src="images/Bleach_Images12.jpg" alt="Flower">
      <div class="carousel-caption">
        <h3>Bleach</h3>
        <p>Beautiful flowers in Kolymbari, Crete.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>

      <div id="footer">
      Copyright &copy; 2017 Ryan Hourihan & Mohammed Camara. All rights reserved.<br/>
</div>

<script>// Activate Carousel
$("#myCarousel").carousel();

// Enable Carousel Indicators
$(".item").click(function(){
    $("#myCarousel").carousel(1);
});

// Enable Carousel Controls
$(".left").click(function(){
    $("#myCarousel").carousel("prev");
});</script>
