<!DOCTYPE html>

<div id="header">
  <div id="logo">
    <a href="/"><img src="images/1.jpg" alt="FreshOnions" height="250" width="300"/></a>
  </div>
</div>
<div class="col-xs">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
}</style>
<ul class="fa-ul">
<li><icon class="fa fa-facebook-official" style="font-size:28px;color:red">
</icon><a href="http://facebook.com" target="_blank">Facebook</a></li>
<li><icon class="fa fa-tumblr-square" style="font-size:28px;color:red"></icon><a href="http://twitter.com" target="_blank">Twitter</a></li>
<li><icon class="fa fa-linkedin-square" style="font-size:28px;color:red"></icon><a href="http://linkedin.com" target="_blank">LinkedIn</a></li>
     </ul>
   </div><br />

<div id="searchbox">
  <form id="search" method="get" action="/freshOnions.html">
  <label for="searchtextbox"><a href="/freshOnions.html">Search:</a></label><input type="text" id="searchtextbox" name="search" value="" class="text" /><input type="hidden" name="numrev" value="3" /><select id="site" name="site"><option value="" selected>All Platforms</option><option value="3ds">3DS</option><option value="dreamcast">Dreamcast</option><option value="ds">DS</option><option value="gameboy">Game Boy</option><option value="gba">Game Boy Advance</option><option value="gbc">Game Boy Color</option><option value="gamecube">GameCube</option><option value="genesis">Genesis</option><option value="iphone">iPhone/iPod</option><option value="mac">Macintosh</option><option value="mobile">Mobile</option><option value="ngage">N-Gage</option><option value="n64">Nintendo 64</option><option value="pc">PC</option><option value="ps">PlayStation</option><option value="ps2">PlayStation 2</option><option value="ps3">PlayStation 3</option><option value="ps4">PlayStation 4</option><option value="vita">PlayStation Vita</option><option value="psp">PSP</option><option value="saturn">Saturn</option><option value="segacd">Sega CD</option><option value="snes">SNES</option><option value="switch">Switch</option><option value="wii">Wii</option><option value="wii-u">Wii U</option><option value="xbox">Xbox</option><option value="xbox360">Xbox 360</option><option value="xboxone">Xbox One</option></select><button type="submit">go</button>
  </form>
</div>
<div id="quicknav">
  <p>
    <a href="/">Home</a> |
    <a href="/browse.html">All-Time Best</a> |
    <a href="/browse.html?sort=1">All-Time Worst</a> |
    <a href="/sites/index.html">Sites</a> |
    <a href="/help.hbs">Help</a>
  </p>
</div>
<div style="display:flex">
     <div style="flex:1;padding-right:5px;">
          <img class="photos" src="images/Bleach_Download_for_desktop18.jpg" height="400" width="500" />
        </div>
   <div style="flex:1;padding-left:5px;">
    <img class="photos" src="images/Bleach_Download_for_desktop18.jpg" height="400" width="500" />

        </div>
</div>

<div id="platformlist">
  <div class="nav" style="box">
    <b>Platforms:</b><br />
    <a href="/xbox360/index.hbs">Xbox 360</a><br />
    <a href="/xboxone/index.hbs">Xbox One</a><br />
    <a href="/ps4/index.hbs">PS4</a> <br />
    <a href="/ps3/index.hbs">PS3</a> <br />
    <a href="/wii-u/index.hbs">Wii U</a> <br />
    <a href="/3ds/index.hbs">3DS</a> <br />
    <a href="/iphone/index.hbs">IPhone</a> <br />
    <a href="/samsung/index.hbs">Samsung</a> <br />
    <a href="/pc/index.hbs">PC</a> <br /><br /><br />
  </div> </div>
  <div id="sitenav">
        <p>
        <a href="/freshOnions">Home</a> | <a href="Special">Special</a> | <a href="/aboutUs">About Us</a> |	<a href="/contact">Contact Us</a>
        </p>
      </div>
      <div id="footer">
      Copyright &copy; 2017 Ryan Hourihan & Mohammed Camara. All rights reserved.<br/>
</div>
